### Control Flow
Welcome to Control Flow! 

Control flow describes the order in which your lines of code are run. This order is usually different than the sequence in which the lines of code appear - Yes you read that correct and lets proceed!

In [1]:
def qualify_name(name):
    if   name == "Queen":
        print("I am the queen!")
    elif name == "King":
        print("I am the King!!")
    elif name == "Kid1":
        print("I am Kid1")
    else:
        print("I am God")

In [2]:
qualify_name("King")

I am the King!!

In [3]:
qualify_name("Kid")

I am God

In [4]:
qualify_name("Kid1")

I am Kid1

In [5]:
qualify_name("Queen")

I am the queen!

In [6]:
qualify_name("Kid2")

I am God

In [7]:
qualify_name("")

I am God

In [16]:
#BMI = kg/m2
#kg = kilograms
#m  = height in metre

kg = 67
m  = 1.65

bmi = round(kg / (m ** 2),1)

print("BMI is :" + str(bmi))

if 18.5 <= bmi < 25:
    print("This is considered 'normal'. Please work on keeping it consistent for the lifetime!")
else:
    print("Your BMI is outside 18.5 to 25 range. Please big it to normal ASAP- All the best!")

BMI is :24.6
This is considered 'normal'. Please work on keeping it consistent for the lifetime!

In [17]:
kg = 83
m  = 1.65

bmi = round(kg / (m ** 2),1)

print("BMI is :" + str(bmi))

if 18.5 <= bmi < 25:
    print("This is considered 'normal'. Please work on keeping it consistent for the lifetime!")
else:
    print("Your BMI is outside 18.5 to 25 range. Please big it to normal ASAP - All the best!")

BMI is :30.5
Your BMI is outside 18.5 to 25 range. Please big it to normal ASAP - All the best!

In [30]:
weather = "cold"

#if a string(non boolean) is used in boolean incorrectly, 
#it evaluates to true in this case: Be careful!!
if weather == "hot" or "0":
    print("I am hot")

I am hot

## For Loops

In [35]:
countries = ["india", "USA", "cAnada"]

for country in countries:
    print(country.title())

India
Usa
Canada

In [36]:
new_countries = ["Mexico","peru", "colombia"]

for new_country in new_countries:
    countries.append(new_country.title())

print(countries)

['india', 'USA', 'cAnada', 'Mexico', 'Peru', 'Colombia']

In [37]:
print(range(4))

range(0, 4)

In [38]:
range(4)

range(0, 4)

In [39]:
for i in range(4):
    print(i)

0
1
2
3

In [42]:
for i in range(0,51,10):
    if i: #skips zero
        print(i)

10
20
30
40
50

In [43]:
print(countries)

['india', 'USA', 'cAnada', 'Mexico', 'Peru', 'Colombia']

In [48]:
for index in range(len(countries)):
    countries[index] = countries[index].upper()

print(countries)

['INDIA', 'USA', 'CANADA', 'MEXICO', 'PERU', 'COLOMBIA']

In [49]:
print(list(range(0,-5)))

[]

In [52]:
paragraph = "All he wanted was a candy bar. It didn't seem like a difficult request to comprehend, but the clerk remained frozen and didn't seem to want to honor the request. It might have had something to do with the gun pointed at his face."

In [84]:
print("Original String:")
print(str(paragraph)+ "\n")


#convert string to list seperated by space
para_list = paragraph.split(" ")

print("String converted to List:")
print(str(para_list) + "\n")


#word_count
word_count = {}
#print(type(word_count))

# Method one
for word in para_list:
    #print(word.split(" "))
    if word not in word_count:
        word_count[word] = 1
    else:
        word_count[word] = word_count[word] + 1

print("Number of distinct words by count in the paragraph using 'Not in':" + str(len(word_count)) + "\n")

#print(word_count)

# Method two
word_count = {}
for word in para_list:
    word_count[word] = word_count.get(word,0) + 1

print("Number of distinct words by count in the paragraph using '<dict>.get' :"+ str(len(word_count)) + "\n")

#print(word_count)
for word, cnt in word_count.items():
    print(f"{word} : {cnt}")

Original String:
All he wanted was a candy bar. It didn't seem like a difficult request to comprehend, but the clerk remained frozen and didn't seem to want to honor the request. It might have had something to do with the gun pointed at his face.

String converted to List:
['All', 'he', 'wanted', 'was', 'a', 'candy', 'bar.', 'It', "didn't", 'seem', 'like', 'a', 'difficult', 'request', 'to', 'comprehend,', 'but', 'the', 'clerk', 'remained', 'frozen', 'and', "didn't", 'seem', 'to', 'want', 'to', 'honor', 'the', 'request.', 'It', 'might', 'have', 'had', 'something', 'to', 'do', 'with', 'the', 'gun', 'pointed', 'at', 'his', 'face.']

Number of distinct words by count in the paragraph using 'Not in':35

Number of distinct words by count in the paragraph using '<dict>.get' :35

All : 1
he : 1
wanted : 1
was : 1
a : 2
candy : 1
bar. : 1
It : 2
didn't : 2
seem : 2
like : 1
difficult : 1
request : 1
to : 4
comprehend, : 1
but : 1
the : 3
clerk : 1
remained : 1
frozen : 1
and : 1
want : 1
honor : 1
request. : 1
might : 1
have : 1
had : 1
something : 1
do : 1
with : 1
gun : 1
pointed : 1
at : 1
his : 1
face. : 1

In [92]:
num_list = [1,2,3,4,5,6,-1]
sum_list = []


while sum(sum_list) < 15:
    sum_list.append(num_list.pop())
    print(sum(sum_list))

print(sum_list)

-1
5
10
14
17
[-1, 6, 5, 4, 3]

In [105]:
check_prime = [340, 3, 5, 9, 7, 11,12,12007,2]

for num in check_prime:
    #print(num)
    is_prime = False
    for i in range(2,num):
        if num%i == 0:
            print(f"{num} is NOT a prime number, because {i} is a factor of {num}")
            is_prime = False
            break
        else:
            is_prime = True
    if is_prime or num <=2:
        print(f"{num} is a prime number")

340 is NOT a prime number, because 2 is a factor of 340
3 is a prime number
5 is a prime number
9 is NOT a prime number, because 3 is a factor of 9
7 is a prime number
11 is a prime number
12 is NOT a prime number, because 2 is a factor of 12
12007 is a prime number
2 is a prime number

## Enumerate
is a built in function that returns an iterator of tuples containing indices and values of a list.

In [110]:
list_of_fruits = ["apple", "mango", "pineapple"]

for i, fruit in enumerate(list_of_fruits):
    print(f"Item {i+1}: {fruit}")

Item 1: apple
Item 2: mango
Item 3: pineapple

## Zip
returns an iterator that combines multiple iterables into one sequence of tuples. Each tuple contains the elements in that position from all the iterables. For example, printing

    list(zip(['a', 'b', 'c'], [1, 2, 3])) 

would output 
    [('a', 1), ('b', 2), ('c', 3)]

In [115]:
indexes = [1,2,3]
fruits  = ["A", "Banana", "DragonFruit"]

list((zip(indexes,fruits)))

[(1, 'A'), (2, 'Banana'), (3, 'DragonFruit')]

In [123]:
indexes = [1,2,3,4,5]
fruits  = ["A", "Banana", "Brinjal"]
company = ["jam","fruits", "sauce", "juice"]

list((zip(indexes,fruits)))

[(1, 'A'), (2, 'Banana'), (3, 'Brinjal')]

In [134]:
some_list = [('A',"One","three"), ['B',"two"], ['C', 'three']]
letters, nums = zip(*some_list)

print(letters)

print(nums)

('A', 'B', 'C')
('One', 'two', 'three')

## List Comprehensions
In Python, we can create lists concisely with list comprehensions. One example:

In [137]:
cities = ["Chennai", "ajmer", "denVER"]

cities_Cap = [city.title() for city in cities]

print("List Original: " + str(cities))
print("List Comprehensed: " + str(cities_Cap))

List Original: ['Chennai', 'ajmer', 'denVER']
List Comprehensed: ['Chennai', 'Ajmer', 'Denver']

In [138]:
cubes = [x**3 for x in range(5)]
print(cubes)

[0, 1, 8, 27, 64]

In [141]:
cubes = [x**3 if x%2 == 0 else '' for x in range(5)]
print(cubes)

[0, '', 8, '', 64]

In [142]:
cubes = [x**3 for x in range(5) if x%2 == 0]
print(cubes)

[0, 8, 64]