Lets take a deep dive about Python data structures:

1. List
2. Set
3. Tuples
4. Dictionary
5. Compund Data structures

Special ones - two types of operators:#
6. membership and
7. identity

### List

In [9]:
my_list = [ 7, 22.0, "Great", True or False]

In [10]:
my_list

[7, 22.0, 'Great', True]

In [11]:
my_list[4]

IndexError: list index out of range

In [12]:
my_list[3]

True

In [13]:
my_list[-1]

True

In [14]:
my_list[2]

'Great'

In [15]:
my_list[-0]

7

In [16]:
my_list*3

[7, 22.0, 'Great', True, 7, 22.0, 'Great', True, 7, 22.0, 'Great', True]

In [17]:
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
months

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [18]:
months[:7]

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']

In [19]:
months[:6]

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

In [21]:
months[0:5]

['Jan', 'Feb', 'Mar', 'Apr', 'May']

In [22]:
"JAN" in months

False

In [23]:
"Jan" in months

True

In [24]:
print(months)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [25]:
months

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [26]:
type(months)

list

In [27]:
len(months)

12

In [28]:
max(months)

'Sep'

In [29]:
min(months)

'Apr'

In [33]:
print(sorted(months))

['Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep']

In [34]:
print(sorted(months, reverse = True))

['Sep', 'Oct', 'Nov', 'May', 'Mar', 'Jun', 'Jul', 'Jan', 'Feb', 'Dec', 'Aug', 'Apr']

In [42]:
A = ["a", "b", "C"]
B = A
print("A = " + str(A))
print("B = " + str(B))
B[0] = "A"
print("A = " + str(A))
print("B = " + str(B))
A[0] = "one"
print("A = " + str(A))
print("B = " + str(B))

A = ['a', 'b', 'C']
B = ['a', 'b', 'C']
A = ['A', 'b', 'C']
B = ['A', 'b', 'C']
A = ['one', 'b', 'C']
B = ['one', 'b', 'C']

In [48]:
family = ["Naina", "Amma" , "Uncle", "Aunty", "me", "Kannama"]
print(" --> ".join(family))

Naina --> Amma --> Uncle --> Aunty --> me --> Kannama

In [49]:
family.append("God")
family
print(" --> ".join(family))

Naina --> Amma --> Uncle --> Aunty --> me --> Kannama --> God

### TUPLES

In [51]:
#Define a tuple named dimensions
#parenthesis is optional
dimensions = 5, 6, 70

#Tuple unpacking - technique to unwrap a tuple and assign to scalar values
length, breadth, dep = dimensions

print(f"the dimensions are {length} x {breadth} x {dep}")

the dimensions are 5 x 6 x 70

In [60]:
#Define a tuple named dimensions_2
dimensions_2 = 500, 600, 70
print(type(dimensions_2))

#Tuple unpacking - technique to unwrap a tuple and assign to scalar values
length, breadth, dep = dimensions_2

print("the dimensions are {2} x {1} x {0}".format(length,breadth,dep))

<class 'tuple'>
the dimensions are 70 x 600 x 500

### SETs

In [77]:
sets_1 = set(dimensions_2)
print("dimensions_2 is of type:"+ str(type(dimensions_2)))

print(str(dimensions_2) + chr(10))

print("sets_1 is of type:"+ str(type(sets_1)))
print(sets_1 )

dimensions_2 is of type:<class 'tuple'>
(500, 600, 70)

sets_1 is of type:<class 'set'>
{600, 500, 70}

In [78]:
print("Add an element to the set")
sets_1.add("Kamal")
print(sets_1 )

Add an element to the set
{600, 'Kamal', 500, 70}

In [89]:
print("Remove a random element from the set")

# if set is empty, you will face this error
# KeyError: 'pop from an empty set'
sets_1.add("Kl"*5)
sets_1.add("SG"*5 )
print(sets_1 )
sets_1.pop()
print(sets_1 )

Remove a random element from the set
{'SGSGSGSGSG', 'KlKlKlKlKl'}
{'SGSGSGSGSG'}

In [91]:
sets_1.add("Kl"*5)
sets_1.add("SG"*5 )
print(sets_1 )

{'SGSGSGSGSG', 'KlKlKlKlKl'}

In [98]:
print(dimensions_2)
sets_1.union(set(dimensions_2))
print(sets_1 )
sets_1.union((dimensions_2))

(500, 600, 70)
{'SGSGSGSGSG', 'KlKlKlKlKl'}

{500, 600, 70, 'KlKlKlKlKl', 'SGSGSGSGSG'}

## Dictionaries

In [101]:
department = {
    "Risk" : 1,
    "Finance" : 2,
    "Treasury" : 3
}

print(department)

print(type(department))

{'Risk': 1, 'Finance': 2, 'Treasury': 3}
<class 'dict'>

In [103]:
department["Trading"] = 0

print(department)

{'Risk': 1, 'Finance': 2, 'Treasury': 3, 'Trading': 0}

In [104]:
print('risk' in department)

False

In [105]:
print('Risk' in department)

True

In [106]:
print(1 in department)

False

In [107]:
# gracious check
print(department.get('Trading'))

0

In [108]:
# gracious messsage
print(department.get('trading'))

None

In [109]:
## Not so great - KeyError message is evident
print(department['trading'])

KeyError: 'trading'

In [110]:
print(department['Trading'])

0

In [112]:
# identity operators
# is and is not
T_Key   = "trading"
Trading = department.get(T_Key)

#IS
if Trading is None:
    print("Alright - There is no Trading?? This is not right")
else:
    print(T_key +" is the department with ID:" + str(Trading))

Alright - There is no Trading?? This is not right

In [117]:
# identity operators
# is and is not
T_Key   = "Trading"
Trading = department.get(T_Key)

#IS NOT
if Trading is not None:
    print(T_Key +" is the department with ID:" + str(Trading))
else:
    print("Alright - There is no Trading?? This is not right")

Trading is the department with ID:0