Lets take a deep dive about Python data structures:

1. List
2. Set
3. Tuples
4. Dictionary
5. Compund Data structures

Special ones - two types of operators:#
6. membership and
7. identity

In [9]:
my_list = [ 7, 22.0, "Great", True or False]

In [10]:
my_list

[7, 22.0, 'Great', True]

In [11]:
my_list[4]

IndexError: list index out of range

In [12]:
my_list[3]

True

In [13]:
my_list[-1]

True

In [14]:
my_list[2]

'Great'

In [15]:
my_list[-0]

7

In [16]:
my_list*3

[7, 22.0, 'Great', True, 7, 22.0, 'Great', True, 7, 22.0, 'Great', True]

In [17]:
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
months

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [18]:
months[:7]

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']

In [19]:
months[:6]

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

In [21]:
months[0:5]

['Jan', 'Feb', 'Mar', 'Apr', 'May']

In [22]:
"JAN" in months

False

In [23]:
"Jan" in months

True

In [24]:
print(months)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [25]:
months

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [26]:
type(months)

list

In [27]:
len(months)

12

In [28]:
max(months)

'Sep'

In [29]:
min(months)

'Apr'

In [33]:
print(sorted(months))

['Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep']

In [34]:
print(sorted(months, reverse = True))

['Sep', 'Oct', 'Nov', 'May', 'Mar', 'Jun', 'Jul', 'Jan', 'Feb', 'Dec', 'Aug', 'Apr']

In [42]:
A = ["a", "b", "C"]
B = A
print("A = " + str(A))
print("B = " + str(B))
B[0] = "A"
print("A = " + str(A))
print("B = " + str(B))
A[0] = "one"
print("A = " + str(A))
print("B = " + str(B))

A = ['a', 'b', 'C']
B = ['a', 'b', 'C']
A = ['A', 'b', 'C']
B = ['A', 'b', 'C']
A = ['one', 'b', 'C']
B = ['one', 'b', 'C']

In [48]:
family = ["Naina", "Amma" , "Uncle", "Aunty", "me", "Kannama"]
print(" --> ".join(family))

Naina --> Amma --> Uncle --> Aunty --> me --> Kannama

In [49]:
family.append("God")
family
print(" --> ".join(family))

Naina --> Amma --> Uncle --> Aunty --> me --> Kannama --> God